@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .bg-btn {
    @apply bg-gradient-to-r from-green-1 to-light_green-1 hover:from-light_green-1 hover:to-green-1 transition-all duration-300;
  }
  .text-12 {
    @apply text-[12px] leading-normal;
  }
  .text-14 {
    @apply text-[14px] leading-normal;
  }
  .text-16 {
    @apply text-[16px] leading-normal;
  }
  .text-18 {
    @apply text-[18px] leading-normal;
  }
  .text-20 {
    @apply text-[20px] leading-normal;
  }
  .text-24 {
    @apply text-[24px] leading-normal;
  }
  .text-32 {
    @apply text-[32px] leading-normal;
  }
}

/* Menghilangkan scrollbar untuk container */
.no-scrollbar {
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

/* Loader Page */
.custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #8bac3e 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}
.custom-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #8bac3e 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes s8 {
  100% {
    transform: rotate(0.5turn);
  }
}
/* Loader Page */
